<!DOCTYPE html>
<html>
  <head>
    <title>kyoshi/messages</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<%
for( var i in messages ) {　%>
<%= messages[i].post%>&nbsp;<%= messages[i].message%><br />
<%
}
%>
    <form method="post" action="post">
        message:<input name="message">
        <input type="submit" value="POST">
    </form>
  </body>
</html>